.email {
  .container;
  &__title {
    font-family: @bebasNeue;
    font-size: 144px;
    font-weight: 400;
    line-height: 173px;
    text-align: left;
    color: #colors[active_color];
    padding-left: 280px;
  }
  &__btn {
    margin-left: 280px;
    margin-bottom: 276px;
  }
}
