.footer {
  .container;
  .section-decor;

  &__wrapper {
    display: flex;
    margin-bottom: 206px;
    @media screen and (max-width: @small) {
      flex-wrap: wrap;
      margin-bottom: 90px;
    }
    // @media screen and (max-width: @medium) {
    //   margin-bottom: 64px;
    // }
    &-bottom {
      display: flex;
      justify-content: space-between;

      font-family: @proDisplay;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #colors[footer__text];
      opacity: 0.54;

      margin-bottom: 59px;
      @media screen and (max-width: @small) {
        flex-wrap: wrap;
      }
    }
  }
  &__info {
    margin-bottom: 25px;
  }
  &__text {
    max-width: 371px;
    color: #colors[white_text];
    opacity: 0.4;
    margin-right: 211px;
    @media screen and (max-width: @small) {
      width: 100%;
      max-width: 250px;
      margin-bottom: 64px;
    }
  }
  &__list {
    font-family: @bebasNeue;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    @media screen and (max-width: @small) {
      margin-left: 20px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // left: -20px;
    margin-bottom: 60px;
    position: relative;

    &-decor {
      fill: #colors[list_dark];
      position: absolute;
      top: -25%;
      left: -7%;
      z-index: -1;
      @media screen and (max-width: @small) {
        top: -28%;
        left: -3%;
      }
      &--modemail {
        top: -32%;
      }
      &--modfacebook {
        left: 0%;
        @media screen and (max-width: @small) {
          left: 0%;
        }
      }
    }
    &-icon {
      fill: #colors[list_dark];
    }
    &:hover .footer__item-icon {
      transform: translateX(14px);
      transition: 0.3s ease-in-out;
      fill: #colors[hover__color];
    }
  }
  &__link {
    color: #colors[white_text];
    padding-left: 36px;
    padding-right: 77px;
    position: relative;

    @media screen and (max-width: @small) {
      padding-right: 40px;
    }
    &:hover {
      color: #colors[hover__color];
    }
    &:hover::before {
      content: "";
      display: block;
      width: 230px;
      height: 80px;
      border: 1px solid #83c1fa;
      border-radius: 50%;
      position: absolute;
      top: -17%;
      z-index: -1;
      left: 4%;
    }
    &--email:hover::before {
      content: "";
      width: 175px;
      height: 80px;
    }
    &-bottom {
      position: relative;
      color: #colors[white_text];
      @media screen and (max-width: @small) {
        padding-bottom: 14px;
      }
    }
    &-decor::after {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #colors[decor_line];
      position: absolute;
      margin-top: 7px;
    }
  }
}
