.gallery {
  .container;
  position: relative;
  padding-bottom: 220px;
  &__title {
    .title-modification;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-bottom: 64px;
  }
  &__text {
    max-width: 245px;
    &-indent {
      padding-top: 35px;
      margin-bottom: 50px;
    }
  }
  &__link {
    font-family: @proDisplayR;
    font-size: 16px;
    line-height: 24px;
    color: #colors[link_color];
    &-icon {
      margin-right: 12px;
    }
  }
}
.gallery__text .text {
  font-family: @proDisplayR;
}
