.header {
  padding-bottom: 160px;
  &__logo {
    margin-right: 34px;
  }
  &__switch {
    margin-right: 157px;
  }
  &__btn {
    margin-left: auto;
  }
}
.header__wrapper {
  .container;
  display: flex;
  align-items: flex-start;

  padding-top: 27px;
}
