.navigation {
  align-items: center;
  &__item {
    padding: 6px 18px 9px;
    cursor: pointer;
  }
}
.navigation__link {
  font-family: @proDisplay;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #colors[white_text];

  padding: 6px 19px 9px;
  &--active {
    .ellipse;
  }
  &:hover {
    .ellipse;
  }
}
