.navigation {
  &__item {
    padding: 6px 18px 9px;
    cursor: pointer;
    &:hover,
    &--active {
      .ellipse;
      border: 1px solid #colors[border_color];
    }
  }
}
.navigation__link {
  font-family: @proDisplayM;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #colors[white_text];
}
