.project {
  .container;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  &__wrapper {
    max-width: 640px;
  }
  &__logo {
    margin-bottom: 40px;
  }
}
.project__text .text {
  font-family: @proDisplayR;
}
.project__text-indent {
  padding-top: 30px;
}
