.project {
  .container;
  display: flex;
  justify-content: space-between;
  padding-bottom: 220px;
  &__wrapper {
    max-width: 640px;
  }
  &__logo {
    margin-bottom: 40px;
  }
  &__text {
    font-family: @proDisplayR;
    &-bottom {
      padding-top: 30px;
    }
  }
}
