.review {
  .container;
  .section-decor;
  padding-bottom: 220px;
  &__info {
    margin-bottom: 83px;
    &-about {
      font-family: @proDisplay;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #colors[white_text];

      padding-top: 16px;
      @media screen and (max-width: @small) {
        padding-top: 35px;
      }
    }
    &-text {
      font-family: @proDisplay;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #colors[gray_text];
    }
  }
  &__wrapper {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: @small) {
      display: none;
    }
    &-img {
      position: relative;
    }
    &--hide {
      display: none;
      @media screen and (max-width: @small) {
        display: block;
      }
    }
  }
  &__item {
    padding-right: 30px;
    @media screen and (max-width: @small) {
      padding-right: 0;
    }
  }
  &__view {
    position: absolute;
    top: 35%;
    left: 10%;
    padding-left: 36px;
    padding-right: 36px;
    @media screen and (max-width: @medium) {
      display: none;
    }
  }
  &__play {
    position: absolute;
    top: 46%;
    left: 49%;
    fill: #colors[icon_play];
    cursor: pointer;

    @media screen and (max-width: @medium) {
      top: 37%;
      left: 48%;
    }
  }
}
