.start {
  .container;
  // display: flex;
  // justify-content: space-between;
  //   align-items: center;

  padding-top: 106px;
}
.start__title-modification {
  color: #colors[white_text];

  display: block;
  position: absolute;
  z-index: 1;
}
