.start {
  .container;
  position: relative;
  padding-bottom: 220px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
.start__title-mod {
  .title-modification;
  display: block;
  padding-bottom: 68px;
}
.start__text {
  position: relative;
  padding-left: 280px;
  max-width: 485px;
  &::before {
    display: block;
    content: "";
    width: 253px;
    height: 1px;
    background-color: #4f4f4f;
    position: absolute;
    top: 12px;
    left: 0;
  }
}
.start__wrapper-img {
  position: absolute;
  right: 0;
  bottom: 3%;
  z-index: -1;
}
.start__img {
  box-shadow: 6px 6px #colors[border_color];
}
