// Fonts
@bebasNeue: "BebasNeue";
@proDisplay: "SFProDisplay";
// Colors
#colors () {
  dark_theme: #262626;
  light_theme: #e5e5e5;
  bg_white: #f4f4f4;
  icon: #fff;
  icon_light: #262626;
  icon_hover: #f2c94c;
  icon_active: #83c1fa;
  icon_play: #83c1fa;
  icon_footer: #4f4f4f;
  decor_dark: #4f4f4f;
  decor_light: #cecece;
  white_text: #fff;
  black_text: #262626;
  black_border: #262626;
  gray_text: #828282;
  gray_border: #828282;
  gallery_text: #4f4f4f;
  gallery_border: #fff;
  gallery_borderlight: #dad2d2;
  gallery_box: #4f4f4f;
  gallery_boxtitle: #83c1fa;
  gallery_graycurrent: #bdbdbd;
  gallery_graytotal: #cecece;
  border_color: #83c1fa;
  hover__color: #83c1fa;
  active_color: #83c1fa;
  bg_btn: #83c1fa;
  decor_line: #c4c4c4;
  list_dark: #4f4f4f;
  list_light: #bdbdbd;
  link_color: #fff;
  footer__text: #a0a0a0;
  bg_menu: #303030;
  footer_icon: #bdbdbd;
  footer_arrowright: #bdbdbd;
}

// Media
@small: 576px;
@medium: 768px;
@large: 1200px;
