@globalFont: "SF Pro Display";
@buttonFont: "Bebas Neue";
@titleFont: "Bebas Neue";

@navWeight: 500;
@navLineHeight: 19, 09px;

@titleWeight: 700;
@titleSize: 190px;
@titleLineHeight: 190px;

@buttonWeight: 700;
@buttonSize: 24px;
@buttonLineHeight: 24px;

@globalTextSize: 16px;
@globalTextLineHeight: 24px;
@globalTextWeight: 400;

@infoSize: 36px;
@infoLineHeight: 43, 2px;
@infoWeight: 400;

@colorDarkTheme: #fff;
@colorLightTheme: #262626;
@borderColor: #83c1fa;
